name: Deploy to AWS
on:
  push:
    branches:
      - main
    paths:
      - 'client/**'
      - 'server/**'
      - '.github/**'
  workflow_dispatch:
    inputs:
      invalidationPaths:
        description: 'Paths to invalidate'
        required: false

concurrency:
  group: aws-lambda-walks
  cancel-in-progress: true

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  test_and_build_client_and_server:
    name: Test and build client and server
    runs-on: ubuntu-latest
    outputs:
      client_and_server_artifact-id: ${{ steps.publish-build-folder.outputs.artifact-id }}
    steps:
    - name: Generate a token
      id: generate-token
      uses: actions/create-github-app-token@v1
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}
        owner: ${{ github.repository_owner }}
        repositories: "aws-lambda-walks,walk-routes"

    - name: Checkout aws-lambda-walks
      uses: actions/checkout@v3
      
    - name: Checkout walk-routes
      uses: actions/checkout@v3
      with:
        repository: mikeboharsik/walk-routes
        path: walk-routes
        token: ${{ steps.generate-token.outputs.token }}

    - name: Get repo hashes
      id: get-sha
      shell: pwsh
      run: |
        $lambdaSha = curl -u "u:${{ github.token }}" https://api.github.com/repos/mikeboharsik/aws-lambda-walks/git/ref/heads/main
          | ConvertFrom-Json -Depth 5 -AsHashtable
          | Select-Object -ExpandProperty object
          | Select-Object -ExpandProperty sha
        $routesSha = curl -u "u:${{ steps.generate-token.outputs.token }}" https://api.github.com/repos/mikeboharsik/walk-routes/git/ref/heads/main
          | ConvertFrom-Json -Depth 5 -AsHashtable
          | Select-Object -ExpandProperty object
          | Select-Object -ExpandProperty sha

        Write-Host "`$lambdaSha = [$lambdaSha]"
        Write-Host "`$routesSha = [$routesSha]"

        "lambda-sha=$lambdaSha" >> $ENV:GITHUB_OUTPUT
        "routes-sha=$routesSha" >> $ENV:GITHUB_OUTPUT

    - name: Setup Node.js environment
      uses: actions/setup-node@v4
      with:
        node-version: 22.14.0

    - name: Generate walk data
      run: |
        pushd ./walk-routes
        pushd ./utility
        npm install
        pushd ./WalkDataGenerator
        node -e "const g = require('./index.js'); new g().generate();"

    - name: Install server packages
      shell: pwsh
      run: |
        Push-Location ./server
        Write-Host "Installing server packages"
        npm install
        Write-Host "Installed server packages`n"

    - name: Run API tests
      shell: pwsh
      env:
        GENERATED_PATH: ${{ vars.GENERATED_PATH }}
      run: |
        Push-Location ./server/test
        npm install
        npm run test

    - name: Build client
      shell: pwsh
      run: |
        Push-Location ./client
        npm install
        npm run build

    - name: Populate git.json
      shell: pwsh
      run: |
        Push-Location ./server
        Write-Host (Get-Location)
        $gitData = [ordered]@{
          'aws-lambda-walks' = "${{ steps.get-sha.outputs.lambda-sha }}"
          'walk-routes' = "${{ steps.get-sha.outputs.routes-sha }}"
        }
        New-Item -Type Directory "./build" | Out-Null
        $gitData | ConvertTo-Json -Depth 10 -Compress | Set-Content "./build/git.json"

    - name: Create build artifact
      shell: pwsh
      run: |
        Push-Location ./server
        .\Invoke-CreateArtifact.ps1

    - name: Publish build folder
      id: publish-build-folder
      uses: actions/upload-artifact@v4
      with:
        name: build
        path: server/build/deployable.zip
        retention-days: 1

  aws_deploy_client_and_server:
    name: Deploy client and server to AWS
    runs-on: ubuntu-latest
    needs: test_and_build_client_and_server
    steps:
    - name: Generate a token
      id: generate-token
      uses: actions/create-github-app-token@v1
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}
        owner: ${{ github.repository_owner }}
        repositories: "aws-lambda-walks"

    - name: Checkout aws-lambda-walks
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-region: us-east-1
        role-to-assume: ${{ vars.AWS_ROLE_ARN }}

    - name: Download build artifact
      uses: actions/download-artifact@v7
      with:
        artifact-ids: ${{needs.test_and_build_client_and_server.outputs.client_and_server_artifact-id}}

    - name: Deploy to CloudFront
      shell: pwsh
      run: |        
        $distId = "${{ vars.CLOUDFLARE_DISTRIBUTION_ID }}"
        Write-Host "Deploying to CF distribution $($distId)`n"

        $invalidationPaths = "${{ github.event.inputs.invalidationPaths }}"
        if ($invalidationPaths) {
          $invalidationPaths = $invalidationPaths -Split " "
        }
        Write-Host "`$invalidationPaths = [$invalidationPaths]`n"

        Write-Host "Invoking upload script"

        $scriptArgs = @{
          DeployClient = $true
          DistributionId = $distId
        }

        if ($invalidationPaths) {
          $scriptArgs["InvalidationPaths"] = $invalidationPaths
        }

        Write-Host "Running Invoke-Upload.ps1 with args [$(ConvertTo-Json -Depth 10 $scriptArgs)]"

        Push-Location ./server
        .\Invoke-Upload.ps1 @scriptArgs

        Write-Host "Invoke-Upload.ps1 completed with result [$?]`n"
